
body
 font-family: sans-serif

.container
    max-width: 1170px
    margin: 0 auto

img
    width: 100%

.btn
    border-radius: 10px
    background-color: $primery-color
    border: none
    padding: 18px 30px
    color: $text-color

    &:hover
        background-color: lighten($primery-color, 10%)
        transition: 0.5s
        cursor: pointer
